
body{
 background-color:#fc5f1a;
 text-align:center;
}

.bio{
  font-weight:500;
  font-style:italic;
  font-size:18px;
}


h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
  color:#010833;
  font-size:60px;
}

.line2{
  font-size:120px;
}

.box{
  font-size:18px;
  background-color: white;
  font-color:#010833;
  letter-spacing:2.5px;
}

p{
	font-size:18px;
	font-weight:200;
	color:#010833;
	font-family: 'Nunito Sans', sans-serif;
	text-align:center;
}

.title{
  padding:70px;
  letter-spacing:2.5px;
}

.credits{
  font-weight:600;
  font-size:14px;
}

.hr{
  width:25%;
  height:2px;

}
.img{
  float:right;
  width:100%;
  height:auto;
}

.text{
  float:left;
}
.container{
  float:right;

}
/* unvisited link */
a:link {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:12px;
  font-weight:600;
}

/* visited link */
a:visited {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:12px;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:12px;
}

