
body {
 background-color:#ededed;
 padding:50px 100px 50px 100px;
 margin: 25px 50px 25px 50px;
}

h1{
	color:#990f02;
	font-size:102px;
	font-weight:200;
	font-family:'nanum gothic', sans-serif;
}

h2{
  color:#9e2009;
  font-family: 'Crimson Text', serif;
  font-size:42px;

}

/* unvisited link */
a:link {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;
}

/* visited link */
a:visited {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;

}

footer{
  background-color:white;
}

img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}