style.css


h1.center {
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
}
h1{
	padding:50px 30px 50px 30px;
	margin:25px 70px 25px 70px;
	
}

p{
	padding:100px 60px 30px 60px;
	margin:100px 80px 30px 80px;
}

h1{
	color:#01C309;
	font-size:42px;
	font-weight:600;
	font-family:"courier prime", courier, monospace;
}
