
body{
 background-color:#fc5f1a;
 margin:576 768;
 text-align:center;
}

h1{
  border: 37px 85px 37px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color:#010833;
  font-size:60px;
  line-height:1;
}


p{
	font-size:42px;
	font-weight:200;
	color:#010833;
	font-family:'anton', sans-serif;
	text-align:right;
	float:right;
}

/* unvisited link */
a:link {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;
}

/* visited link */
a:visited {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;

}

