
body{
	background-color:#666666;
	padding:;
}

h1{
  border: 3px solid silver;
  text-align: center;
}

p.lead{
	font-size:22px;
	font-weight:250;
	font-color:#E8E8E8;
	font-family:"crimson text," serif;
	text-align:right;
	width:50%;
	float:right;

}
p.left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float:left;
}

h1{
	color:#DCFFF9;
	font-size:102px;
	font-weight:200;
	font-family:"nanum gothic," sans-serif;
}

.vl {
  border-left: 6px silver;
  height: 800px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10;
}
