
body {
 background-color:#8EB8AD;
}
#twitter{
    background-image: url(../site/images/twitter.jpg);
    width: 981px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}
h1{
  border: 3px solid silver;
  text-align: center;
}
.img{
  align-content:left;
}

p.lead{
	font-size:22px;
	font-weight:250;
	color:#E8E8E8;
	font-family:"crimson text," serif;
	text-align:right;
	float:right;

}
p.left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float:left;
}

h1{
	color:#DCFFF9;
	font-size:102px;
	font-weight:200;
	font-family:"nanum gothic," sans-serif;
}

h2{
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:42px;
}
