
body {
 background-color:#ffffff;
}

h1{
	color:#ffd367;
	font-size:80px;
	font-family: 'Patrick Hand', cursive;
  text-align:center;

}
p{
  font-size:16px;
  font-family: 'Libre Baskerville', serif;
}
/* unvisited link */
a:link {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;
}

/* visited link */
a:visited {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;

}

