
body {
 background-color:#8EB8AD;
}

h1{
  border: 3px solid silver;
  text-align: center;
}
h1{
	color:#DCFFF9;
	font-size:80px;
	font-weight:200;
	font-family:'nanum gothic', sans-serif;
}
p{
  font-size:16px;
  font-family: 'Libre Baskerville', serif;
}
/* unvisited link */
a:link {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;
}

/* visited link */
a:visited {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color:#FFE45E;
  font-family: 'Crimson Text', serif;
  font-size:32px;

}

